if SHIELD_GARDEN36_LEFT

config ZMK_KEYBOARD_NAME
    default "garden36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_GARDEN36_LEFT || SHIELD_GARDEN36_RIGHT

config ZMK_SPLIT
    default y

endif